
<h2>Marvel Heroes</h2>

<div class="center">
    <label class="create-label">Create a New Hero Below:<br/>
      <input class="create-input" #heroName />
    </label>
    <br/>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''"> Create</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.thor]="hero.id === 11"
      [class.loki]="hero.id === 12"
      [class.hulk]="hero.id === 13"
      [class.blackwidow]="hero.id === 14"
      [class.panther]="hero.id === 15"
      [class.captainamerica]="hero.id === 16"
      [class.ironman]="hero.id === 17"
      [class.spiderman]="hero.id === 18"
      [class.daredevil]="hero.id === 19"
      [class.punisher]="hero.id === 20"
  >
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>
