
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.thor]="hero.id === 11"
      [class.loki]="hero.id === 12"
      [class.hulk]="hero.id === 13"
      [class.blackwidow]="hero.id === 14"
      [class.panther]="hero.id === 15"
      [class.captainamerica]="hero.id === 16"
      [class.ironman]="hero.id === 17"
      [class.spiderman]="hero.id === 18"
      [class.daredevil]="hero.id === 19"
      [class.punisher]="hero.id === 20"
  >
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
