/* HeroesComponent's private CSS styles */

h2 {
  text-align: center;
  color: red;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.create-input {
  margin: 10px;
}

.create-label {
  text-decoration: underline;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgb(216, 201, 201);
  margin: .75em;
  padding: 0;
  height: 1.75em;
  border-radius: 4px;
}

.heroes li:hover {
  color: white;
  background-color: rgb(188, 203, 235);
  /* left: .1em; */
}

.heroes a {
  color: rgba(91, 88, 88, 0.735);
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}
  
.heroes a:hover {
  color:#607D8B;
}

/* .heroes .text {
  position: relative;
  top: -3px;
} */

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}
 
button:hover {
  background-color: #cfd8dc;
}
 
button.delete {
  position: relative;
  left: 195px;
  top: -33px;
  height: 2.5em;
  background-color: gray !important;
  color: white;
}

button.delete:hover {
  position: relative;
  left: 195px;
  top: -33px;
  height: 2.5em;
  background-color: gray !important;
  color: white;
}

.loki a:hover {
  background-color: limegreen !important;
  color: black;
  height: 105%;
  width: 100%;
}

.punisher a:hover{
  background-color:black !important;
  color: rgba(255, 255, 255, 0.712);
  height: 105%;
  width: 100%;
}

.hulk a:hover {
  background-color:rgb(63, 58, 58) !important;
  color: limegreen;
  height: 105%;
  width: 100%;
}

.thor a:hover {
  background-color: blue !important;
  color: yellow;
  height: 105%;
  width: 100%;
}

.captainamerica a:hover {
  background-color: blue !important;
  color: red;
  height: 105%;
  width: 100%;
  /* left: .1em; */
}

.daredevil a:hover{
  background-color: rgb(165, 20, 20) !important;
  color: black;
  height: 105%;
  width: 100%;
}

.ironman a:hover{
  background-color: red !important;
  color: yellow;
  height: 105%;
  width: 100%;
}

.blackwidow a:hover{
  background-color: black !important;
  color: rgb(173, 24, 24);
  height: 105%;
  width: 100%;
}

.panther a:hover {
  background-color: black !important;
  color: white;
  height: 105%;
  width: 100%;
}

.spiderman a:hover{
  background-color: red !important;
  color: blue;
  height: 105%;
  width: 100%;
}

ul.heroes {
  margin: auto;
}
